/* style guide 
Colors
-Principal colors- #F5E7DC, #aa8abd, #3B0273
-Dropshadow- #F5E7DC75
-Active state- #FAA16F
-hyperlink- blue
-Font family- 'Source Sans Pro' 
*/

/* css reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #3b0273;
}

body {
  background-image: linear-gradient(0deg, #64428c 0%, #f5e7dc 85%);
  border-top: 3px solid #64428c;
}

#wrapper {
  max-width: 900px;
  margin: 0 auto;
  background-image: url(http://dmg2120.americanzephyr.net/images/windTile4.png);
  background-repeat: repeat;
  border-radius: 0rem 0rem 2rem 2rem;
  border: solid 3px #3b0273;
  box-shadow: 4px 4px 3px #3b027390;
}

.hLink {
  color: blue;
}
/*Header elements*/

header {
  display: flex;
  justify-content: center;
  background-color: #aa8abd;
  background-image: url(http://dmg2120.americanzephyr.net/images/airFlow.png);
  background-repeat: no-repeat;
}

/* Phone Nav rules */
@media screen and (max-width: 600px) {

  .headCase {
    background-color: #aa8abd;
    border-radius: 0rem 0rem 2rem 2rem;
    filter: drop-shadow(0 4px 2px #3b027380); 
  }

  #navbar {
    background-color: #f5e7dc;
    padding: 0.5rem 2%;
    border-radius: 2rem 2rem 2rem 2rem;
    border: solid 3px #3b0273;
    box-shadow: 4px 3px 5px #3b027395 inset;
  }

 .mynav {
    list-style-type: none;
    padding: 0;
  }

 .mynav a {
    border: solid 2px #aa8abd;
    display: block;
    padding: 0.5rem 5%;
    background-color: #64428c;
    margin: 0 .5rem .5rem .5rem;
    border-radius: 0.8rem;
    color: #f5e7dc;
    font-weight: bold;
    font-family: "Verdana";
    text-decoration: none;
    
  }
  .active a {
    background-color: #faa16f;
    color: #3b0273;
    font-weight: 600;
    transition: 0.1s;
    box-shadow: 2px 3px 3px #3b0273 inset;
    text-shadow: 2px 1px 3px #f5e7dc;
  }

  #navbar a:hover {
    background-color: #aa8abd;
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px -2px 2px #3b027395 inset;
    text-shadow: 2px 1px 3px #3b0273;
 
  }

}
/* End Phone Nav */

/* Desktop Nav rules */
@media screen and (min-width: 601px) {
 
  .headCase {
    background-color: #aa8abd;
    border-radius: 0rem 0rem 2rem 2rem;
  }
 
  #navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #64428c;
    border: 1px solid #3b0273;
    font-family: "Verdana";
    border-radius: 2rem 2rem 2rem 2rem;
    filter: drop-shadow(0 4px 2px #3b027380);
    box-shadow: -2px -4px 3px #3b027390 inset;
  }

  .mynav {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Verdana";
  }

  .mynav a {
    color: #f5e7dc;
    font-weight: bold;
    padding: 15px 1.3rem;
    text-decoration: none;
  }
  .active a {
    background-color: #faa16f;
    color: #3b0273;
    font-weight: 600;
    transition: 0.4s;
    border: solid 2px #3b0273;
    box-shadow: 2px 3px 3px #3b027395 inset;
    text-shadow: 2px 1px 3px #f5e7dc;
  }

  #navbar a:hover {
    background-color: #aa8abd;
    transition: 0.2s;
    font-weight: bold;
    border: solid 1px #3b0273;
    box-shadow: 2px -3px 3px #3b027395 inset;
    text-shadow: 2px 1px 3px #3b0273;
  }
}
/*End Desktop Nav*/

blockquote {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18pt;
  font-weight: 100;
  color: #3b0273;
}

h1 {
  padding: 0;
  margin: 0;
  color: #3b0273;
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 3px #3b027390;
}

/* Images style*/
.levantLogo {
  margin: 14px;
  font-size: 120%;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
  text-align: center;
  color: #3b0273;
  filter: drop-shadow(0.2mm 0.6mm 0.2mm #f5e7dc75);
}
.levantLogo img {
  width: 100%;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
}

.logoCap {
  font-size: 60%;
  padding-right: 4%;
  font-family: "Verdana";
 padding-top: 2px;
}

figure.bedMold {
  text-align: center;
  margin: 0;
  padding: 0;
  float: right;
  max-width: 30%;
  padding: 0% 3%;
}

figure.bedMold img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  border: solid 3px #64428c;
}

.bedMoldText {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 120%;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 0px 0px 30px 30px;
  background-image: linear-gradient(0deg, #faa16f80 0%, #f5e7dc 85%);
  border: solid 3px #64428c;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b027350);
}

.diagrams {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}

.example {
  margin: 0;
  max-width: 400px;
  min-width: 200px;
  transition: ease-in 0.4s;
}

.example img {
  display: flex;
  flex-flow: column;
  margin: 16px 0 0 0;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b027350);
}

.materialChar {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  font-size: 130%;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  bottom: 2rem;
  height: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 30px 30px;
  background-color: #a182ab;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b027350);
  font-variant: small-caps;
}

.physChar {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  font-size: 130%;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  bottom: 2rem;
  height: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 30px 30px;
  background-color: #a182ab;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b027350);
  font-variant: small-caps;
}

/* End of Images style*/

blockquote {
  color: rgb(250, 250, 250);
  font-style: italic;
  padding: 10px;
  background-color: #aa8abd;
  border-radius: 20px;
  border: solid 3px #64428c;
  box-shadow: 2px 5px 5px #3b0273;
  
}


h2 {
  text-align: center;
  font-size: 12pt;
  font-weight: bolder;
  padding-top: 20px;
  color: #3b0273;
  text-shadow:
   -1px -1px 2px #f5e7dc70,  
    1px -1px 2px #f5e7dc70,
    -1px 1px 2px #f5e7dc70,
     1px 1px 2px #f5e7dc70;
}

p {
  margin: 2rem;
  font-family: "Verdana";
}
/* Footer Styling */

#bedPic {
  background-image: url(http://dmg2120.americanzephyr.net/images/footboard.jpg);
  border-radius: 2.1rem 2.1rem 2.1rem 2.1rem;
}

.bedfade {
  background-color: #f5e7dc95;
  border-radius: 2.1rem 2.1rem 2.1rem 2.1rem;
  box-shadow: 
 -30px -30px 30px #f5e7dc inset,
  30px -30px 30px #f5e7dc inset,
  -30px 30px 30px #f5e7dc inset,
   30px 30px 30px #f5e7dc inset;
}
footer {
  border: 3px solid #aa8abd;
  padding-bottom: 20px;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 
 -2px -2px 3px #3b0273 inset,
 2px -2px 3px #3b0273 inset,
  -2px 2px 3px #3b0273 inset,
  2px 2px 3px #3b0273 inset;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 10pt;
  font-weight: 100;
  background-color: #64428c;
  color: #f5e7dc;
  border-top: solid 3px #aa8abd;
  border-bottom: solid 3px #aa8abd;
  box-shadow: 2px 2px 3px #3b027390 inset;
  
}